
/* .FlexCentered{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar {
    padding: 1rem;
  }

  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    margin-right: 1rem;
  }
  
  .nav-dropdown-menu {
    min-width: 200px;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }
  
 
  @media (max-width: 768px) {
    .navbar-nav,
    .navbar-nav .nav-link,
    .navbar-nav .nav-dropdown,
    .navbar-nav .nav-dropdown-menu,
    .navbar-nav .btn {
      display: none;
    }
  
    .navbar-toggler {
      display: block;
    }
  
    .navbar-collapse.show {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 1000;
      padding: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  
    .navbar-collapse.show .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-collapse.show .navbar-nav .nav-link,
    .navbar-collapse.show .navbar-nav .nav-dropdown,
    .navbar-collapse.show .navbar-nav .nav-dropdown-menu,
    .navbar-collapse.show .navbar-nav .btn {
      display: block;
      margin-bottom: 0.5rem;
    }
  } */
/*   
  .header{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
  } */

  .menu-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellowgreen; */
  }
  .options{
    display: flex;
  }
  
  .logo{
    max-width: 150px;
  }

  @media (max-width: 980px){
    .menu-items{
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* background-color: violet; */
      }
      .options{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .option{
        border-radius: 0px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
      
      
  }